* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    display: block;
     margin: 0 auto;
}
.wrapper {
    background-color: rgb(238, 238, 118);
    max-width: 1920px;
    width: 100%;
}
h1 {
    margin: 0;
    font-size: 2.85rem;
}
h2 {
    font-size: 1.42rem;
    color: blue;
}
img {
    width: 45%;
    height: 100%;
}
.footer {
    display: flex;
    justify-content: flex-end;
}
.github {
    width: 50px;
    height: 50px;
} 
.image-content__image { 
    display: none;
}
.section__content {
    display: flex;
    justify-content: space-between;
}
.main__section {
    border-top: 1px rgb(0, 0, 0) solid;
    width: 100%;
}
header, main, footer {
    padding: 50px 100px 20px;
}
.image-content {
    display: flex;
    justify-content: center;
}
.main__section:hover .image-content__image, .image-content .image-content__radio:checked + .image-content__image {
    display: block;
    padding-bottom: 20px;
    cursor: pointer;
}
.image-content .image-content__radio {
display: none;
}
.main__section:hover .cross, .main__section:active .cross {
    background-image: url("./image/xmark-solid.svg");
    display: block;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    cursor: pointer;
}
main:hover h2 {
    color: black;
    cursor: pointer;
}
main:hover .cross{
    background-image: url("./image/plus-solid.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer; 
}
.main__section:focus h2{
    color: black;
}
.main__section:focus .cross{
    background-image: url("./image/xmark-solid.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media (max-width: 768px){
.github {
    width: 40px;
    height: 40px;
} 
header, main, footer {
    padding: 30px 50px 20px;
}
}
@media (max-width: 320px){
.github {
    width: 30px;
    height: 30px;
} 
header, main, footer {
    padding: 20px 30px 20px;
}
}
